streamlit==1.22.0
numpy==1.23.5
matplotlib==3.7.0
plotly==5.15.0
tensorflow==2.15.0  # Última versión compatible con Python 3.10
gdown==4.6.0
scipy==1.10.1
astropy==5.2.2      # Opcional para FITS
pillow==10.0.0      # Opcional para imágenes
